.list-friend-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--b-radius-md);
    transition: background-color 0.2s ease;
    padding: var(--spacing-sm);
    cursor: pointer;
}

.list-friend-info {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}

.list-friend-item-container-avt {
    --size-avt: 50px;
    width: var(--size-avt);
    height: var(--size-avt);

}

.list-friend-item-name {
    font-weight: 400;
    margin: 0;
    transition: text-decoration 0.2s ease-in-out;
    font-size: var(--font-vr-sm);
}

.container-button-request {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}

.deny-button {
    color: var(--main-color);
}


