
.list-message-friend-message {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--spacing-sm);
    border-radius: var(--b-radius-md);
    gap: var(--spacing-sm);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2 ease;
    margin-right: var(--spacing-vr-sm);
    transition: background-color 0.2s ease;
}

.list-message-friend-message:hover {
    background-color: var(--main-color);
}

.list-message-friend-message-active {
    background-color: var(--main-color);
}

.list-message-friend-message:hover { 
    opacity: 0.9;
}

.list-message-friend-message-active:hover {
    opacity: 1;
}

.list-message-friend-nickname {
    font-weight: 500;
    margin: unset;
}

.list-message-friend-content {
    font-size: var(--font-vr-sm);
    color: var(--contrast-light-color);
}

.list-message-friend-avt-container {
    --size-avt: 50px;
    width: var(--size-avt);
    height: var(--size-avt);
}

.list-message-message-time {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    font-size: var(--font-vr-sm);
}