.message {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
    margin: var(--spacing-sm);
    font-size: var(--font-sm);
}

.user-message {
    flex-direction: row-reverse;
}

.user-message  .message-content {
    background-color: var(--primary-color);
    color: var(--sub-contrast-color);
}


.message-img-wrapper {
    --size-img: 40px;
    width: var(--size-img);
    height: var(--size-img);
    align-self: flex-end;
}


.message-avt {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var( --b-radius-mch);
}

.message-content {
    max-width: 300px;
    background-color: var(--sub-light-color);
    padding: var(--spacing-sm);
    border-radius: var(--b-radius-md);
}

.user-message .message-content-special-img, 
.message-content-special-img,  
.user-message .message-content-special-vid, 
.message-content-special-vid
{
    width: 200px;
    height: 200px;
    background-color: unset;
    padding: 0;
}

.user-message .message-content-special-audio, 
.message-content-special-audio {
    width: 250px;
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--spacing-vr-sm);
}

.message-content-img, .message-content-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--b-radius-md);
}


.message-content-text {
    word-wrap: break-word;
    line-height: 1;
}

.message-content-audio-timeline {
    -webkit-appearance: none;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: var(--b-radius-mch);
    background-size: 0% 100%;
    background-image: linear-gradient(rgba(246, 246, 246, 0.733), rgba(246, 246, 246, 0.733));
    background-repeat: no-repeat;
    border: 0.5px solid var(--sub-color);
}

.message-content-audio-timeline::-webkit-slider-thumb {
    --size-thumb: 1px;
    opacity: 0;
    width: vaR(--size-thumb);
    height: var(--size-thumb);
}

.message-content-audio-timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.message-content-audio-icon {
    --size-icon: 20px;
    display: block;
    width: var(--size-icon);
    height: var(--size-icon);
    padding: 0 var(--spacing-vr-sm);
    cursor: pointer;
    display: none;
}

.message-content-audio-show-icon {
    display: block;
}

.message-content-audio-icon:hover { 
    opacity: 0.8;
}

.message-content-audio {
    display: none;
}

.message-content-audio-timeline-duration {
    --size-time: 30px;
    text-align: center;
    max-width: var(--size-time);
    min-width: var(--size-time);
    width: var(--size-time);
    font-size: var(--font-vr-sm);
}
