.input-app {
    padding: var(--spacing-sm);
    background-color: var(--sub-light-color);
    border-radius: var(--b-radius-lt-1);
    width: 100%;
    box-shadow:  0 5px 5px -5px var(--contrast-color);
    border: 1.5px solid var(--sub-color);
}

.input-app:focus {
    border: 1.5px solid var(--primary-color);
}

.input-none-decor {
    box-shadow:  none;
    border: none;
    background-color: unset;
    padding-left: 0;
    padding-right: 0; 
    border-radius: none;
}

.error-input {
    border: 1px solid var(--error-color);
}

.error-input:focus {
    border: 1px solid var(--error-color);
}


