.message-box {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    padding-bottom: var(--spacing-l-sm);
}



.message-box-file-input {
    display: none;
}


.message-box-method {
    display: flex;
    gap: var(--spacing-sm);
}

.message-box-icon {
    --size-icon: 22px;
    width: vaR(--size-icon);
    height: var(--size-icon);
    transition: color 0.1s ease-out, transform 0.1s;
    cursor: pointer;
    padding: var(--spacing-vr-sm);
    border-radius: var(--b-radius-mch);
}

.message-box-icon:hover {
    color: var(--primary-color);
    background-color: var(--sub-color);
}

.message-box-send-icon:hover {
    background-color: transparent;
}

.record-start {
    display: none;
}

.plus-icon.record-start {
    display: block;
    transform: rotate(45deg);
} 



