.message-box {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.message-box-main {
    display: flex;
    align-items: center;
    padding: var(--spacing-sm) 0;
    gap: var(--spacing-sm);
    margin-right: var(--spacing-sm);
    flex: 1;
}

.message-box-input {
    flex: 1;
    background-color: var(--sub-color);
    padding: var(--spacing-sm);
    border-radius: var(--b-radius-mch);
}

.message-box-method {
    display: flex;
    gap: var(--spacing-sm);
}

.message-box-icon {
    transition: color 0.1s ease-out;
    cursor: pointer;
}

.message-box-icon:hover {
    color: var(--primary-color);
}

.message-box-send-icon {
    padding: var(--spacing-sm);
}

