.login-content {
    position: relative;
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    flex: 1;
    margin: 0 calc(2 * var(--spacing-lg-1));
}

.login-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 900px;
    right: 0;
    transition: transform 0.3s linear;
}

.show-sign-in-form {
    transform: translateX(-400px);
}

.login-image {
    width: 60%;
    object-fit: contain;
}
