.sidebar-main {
    display: flex;
    flex-grow: 0;
    background-color: var(--main-color);
    height: 100%;
    padding: var(--spacing-l-sm);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  var(--spacing-md);
    font-size: var(--font-sm-1);
}

.sidebar-footer {
    display: flex;
}

.avatar-sidebar-container {
    --size-img: 50px;
    width: var(--size-img);
    height: var(--size-img);
}

.sidebar-icon {
    --size-icon: 22px;
    width: var(--size-icon);
    height: var(--size-icon);
    cursor: pointer;
    padding: var(--spacing-sm);
    border-radius: var(--b-radius-mch);
    transition: background-color 0.2s ease;
}

.sidebar-icon:hover {
    color: var(--primary-color);
    background-color: var(--sub-color);
}

.sidebar-tippy {
    color: var(--main-color);
    font-size: vaR(--font-sm);
    border-radius: var(--b-radius-lt);
    animation: fade 0.3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

