.timeline-audio-container {
    display: flex;
    align-items: center;
}

.input-record {
    padding: var(--spacing-vr-sm);
    width: 100%;
    border-radius: var(--b-radius-mch);
    background-color: var(--primary-color);
    color: var(--main-color);
    gap: var(--spacing-sm);
}

.message-content-audio-timeline {
    -webkit-appearance: none;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: var(--b-radius-mch);
    background-size: 0% 100%;
    background-image: linear-gradient(rgba(246, 246, 246, 0.733), rgba(246, 246, 246, 0.733));
    background-repeat: no-repeat;
    border: 0.5px solid var(--sub-color);
}

.input-record .message-content-audio-timeline {
    flex: 1;
}

.message-content-audio-timeline::-webkit-slider-thumb {
    --size-thumb: 1px;
    opacity: 0;
    width: vaR(--size-thumb);
    height: var(--size-thumb);
}

.message-content-audio-timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.message-content-audio-icon {
    --size-icon: 20px;
    display: block;
    width: var(--size-icon);
    height: var(--size-icon);
    padding: 0 var(--spacing-vr-sm);
    cursor: pointer;
    display: none;
}

.message-content-audio-show-icon {
    display: block;
}

.message-content-audio-icon:hover { 
    opacity: 0.8;
}

.message-content-audio {
    display: none;
}

.message-content-audio-timeline-duration {
    --size-time: 30px;
    text-align: center;
    max-width: var(--size-time);
    min-width: var(--size-time);
    width: var(--size-time);
    font-size: var(--font-vr-sm);
}

.input-record .timeline-slice, .input-record .timeline-duration {
    display: none;
}
