.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 9999;
    flex-direction: row-reverse;
}

.drawer-open  {
    display: flex;
}

.drawer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--contrast-transparent-color);
}

.drawer-body {
    position: relative;
    display: flex;
    background-color: var(--main-color);
    width: 900px;
    border-top-left-radius: var(--b-radius-md);
    border-bottom-left-radius: var(--b-radius-md);
    padding: var(--spacing-l-sm);
    z-index: 1;
    animation: moveOut 0.2s linear;
}

.drawer-open .drawer-body {
    animation: moveIn 0.2s linear;
}

@keyframes moveIn {
    from {
        transform: translateX(900px);
    }
    to {
        transform: translateX(0);

    }
}

@keyframes moveOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(900px);
    }
}

.drawer-icon {
    --size-icon: 20px;
    width: var(--size-icon);
    height: var(--size-icon);
    padding: var(--spacing-sm);
    border-radius: var(--b-radius-mch);
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.drawer-icon:hover {
    background-color: var(--sub-color);
}