.form-add-friend-list-friend-group {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);    
    margin-bottom: var(--spacing-sm);
    min-height: var(--spacing-md);
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 50px;
}

.form-add-friend-search-container {
    width: 100%;
}

.form-add-friend-search {
    background-color: var(--sub-color);
}

.list-friend-recommend {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 400px;
    max-height: 400px;
    font-size: var(--font-sm);
    gap: var(--spacing-sm);
    overflow: auto;
    border-top: 2px solid var(--sub-color);
    border-bottom: 2px solid var(--sub-color);

}

.list-friend-recommend::-webkit-scrollbar-track
{
	border-radius: var(--b-radius-mch);
}

.list-friend-recommend::-webkit-scrollbar
{
	width: 8px;
}

.list-friend-recommend::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--contrast-color);
    cursor: pointer;
}

.form-add-friend-button {
    display: flex;
    flex-direction:  row-reverse;
    margin-top: var(--spacing-sm);
}


